<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block title %}{% endblock %}
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
  <p class="h5 my-0 mr-md-auto fw-normal">PepsaCoca</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="/">Главная</a>
    <a class="p-2 text-dark" href="/about">О нас</a>
  </nav>
  <a class="btn btn-outline-primary" href="/create">add</a>
</header>

{% block body %}{% endblock %}

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© 3021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Для премиум клиентов</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Детэйлинг яхт</a></li>
          <li><a class="link-secondary" href="#">Орбитальные прогулки</a></li>
          <li><a class="link-secondary" href="#">Дартс</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>О компании</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Контакты</a></li>
          <li><a class="link-secondary" href="/map1">Как проехать</a></li>
          <li><a class="link-secondary" href="#">Вакансии</a></li>
          <li><a class="link-secondary" href="#">Тимбилдинг</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>